extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/styles/main.css")
    link(rel="stylesheet", href="/styles/forms.css")
    link(rel="stylesheet", href="/styles/auth.css")

block content
    main
        form.login-form(action='/login', method="POST")
            h2 Welcome
            input(type="hidden", name="_csrf", value=csrfToken)
            .form-control
                input(type="email", name="email", id="email", placeholder="Email", autocomplete="off")
                .form-control-input-line
            .form-control
                input(type="password", name="password", id="password",  placeholder="Password", autocomplete="off")
                .form-control-input-line
            button.form-control-btn(type="submit") Log In
            p.form-control-addition 
                span Not registered?
                span.create-account-anchor 
                    a(href="/signup") Create an account
            p.form-control-addition 
                span Forgot password?
                span.create-account-anchor 
                    a(href="/reset") Reset account password