extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/styles/main.css")
    link(rel="stylesheet", href="/styles/forms.css")
    link(rel="stylesheet", href="/styles/auth.css")

block content
    main
        form.login-form(action='/signup', method="POST")
            h2 Nice To Meet You
            if errorMessage
                div(class="user-message user-message--error")
                    p #{errorMessage}
            input(type="hidden", name="_csrf", value=csrfToken)
            .form-control
                input(type="email", name="email", id="email", placeholder="Email")
                .form-control-input-line
            .form-control
                input(type="password", name="password", id="password", placeholder="Password")
                .form-control-input-line
            .form-control
                input(type="password", name="password2", id="password2", placeholder="Confirm Password")
                .form-control-input-line
            button.form-control-btn(type="submit") Sign Up
            p.form-control-addition 
                span Already registered?
                span.create-account-anchor 
                    a(href="/login") Log in account