extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/styles/main.css")
    link(rel="stylesheet", href="/styles/orders.css")
    
block content
    main
        if orders.length > 0
            ul.orders
                each order in orders
                    li 
                        h1 Order - ##{order._id}
                        ul.orders-product
                            each p in order.products
                                li #{p.productData.title} (
                                    span #{p.quantity}
                                    span )
        else
            h1 You got no orders